<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/project.css"/>
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col"><h1 id="logo">Lorem Ipsum</h1></div>
        <div class="col text-end my-2">
            <button type="button" class="btn btn-danger"
            data-bs-target="#loginfrm" data-bs-toggle="modal">로그인</button>
            <button type="button" class="btn btn-primary">회원가입</button>
        </div>
    </header>

    <nav class="navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item"><a href="/intro" class="nav-link">프로젝트 소개</a></li>
            <li class="nav-item"><a href="/join/agree" class="nav-link">회원가입</a></li>
            <li class="nav-item"><a href="/board/list?cpg=1" class="nav-link">게시판</a></li>
            <li class="nav-item"><a href="/pds/list?cpg=1" class="nav-link">자료실</a></li>
            <li class="nav-item"><a href="/gallery/list?cpg=1" class="nav-link">갤러리</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
        </ul>
    </nav>
    <div id="main">
        <div class="row m-5">
            <div class="col-12">
                <h1 class="display-1 text-center p-3"> 超機密 Project 補完界劃 </h1>
            </div>
            <div class="col-4 offset-5">
                <img src="/assets/img/img.png">
            </div>
        </div><!-- title, image -->
        <div class="row">
            <div class="col-10 offset-1 text-center p-3">
                <p>Cras rhoncus dictum volutpat. Morbi lacinia quis sem at congue. Nullam tempus dui tincidunt lorem laoreet, in luctus nunc pretium. Praesent et urna pretium lectus convallis vehicula. Integer eu erat elementum, bibendum augue in, placerat mauris. Fusce tincidunt interdum diam sed pellentesque. Praesent rhoncus ligula a purus porttitor auctor. Nam luctus felis lectus, et elementum turpis viverra ut. Ut mollis enim sed eros sagittis rutrum. Aenean eleifend rutrum aliquet. Quisque lacinia diam placerat lacus convallis vulputate. Ut lorem augue, hendrerit ac nisi eu, elementum egestas lorem.</p>
                <div><button type="button" class="btn btn-success">
                    지금 바로 시작하기
                </button></div>
            </div>
        </div><!-- hero -->
        <div class="row">
            <div class="col-4 my-4">
                <h2>極秘</h2>
                <p>Aenean lacinia quis lorem sed dictum. Vestibulum tempus arcu posuere diam volutpat, congue imperdiet ex convallis. Integer gravida, ex id commodo placerat, tortor risus rutrum mauris, aliquet hendrerit est massa facilisis augue. Duis aliquam posuere turpis id vehicula. Praesent quis lacus imperdiet, vestibulum nulla at, commodo arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur convallis, ligula in iaculis interdum, nunc purus dignissim libero, eget posuere libero augue vitae elit. Sed eget vehicula massa, vehicula gravida arcu. Nulla convallis sit amet eros eget accumsan. Maecenas vel interdum dui.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
            <div class="col-4 my-4">
                <h2>誤謬</h2>
                <p>Morbi ornare enim eget bibendum semper. Ut vel feugiat arcu. Curabitur sodales vitae arcu ac lacinia. Donec sagittis dignissim lectus eu suscipit. Sed vulputate pretium est, ac porta tellus suscipit vel. Aliquam varius arcu nec purus maximus, in vestibulum dui iaculis. Donec rutrum justo sed neque sodales fermentum. Maecenas vel turpis mauris. Sed vitae laoreet elit, a tincidunt eros. Pellentesque non mollis dolor. Vestibulum tempor lobortis lectus, vel finibus eros pulvinar eu. Integer condimentum luctus nunc et accumsan. Duis sagittis magna id libero tincidunt, aliquet bibendum nisi mollis.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
            <div class="col-4 my-4">
                <h2>警告</h2>
                <p>Quisque nulla mauris, convallis vitae mi vitae, bibendum lobortis nibh. Sed bibendum neque egestas felis lobortis, at tincidunt ipsum maximus. Nunc eu dolor id justo ultricies egestas a sit amet sapien. Nunc in viverra justo. Pellentesque faucibus egestas ligula varius ultrices. Curabitur ut neque blandit nibh aliquet lacinia. Etiam ac rhoncus nisi. Fusce vehicula quam a ante mattis, sit amet tempus ipsum condimentum. Sed hendrerit tortor diam, ut lobortis magna maximus a. Curabitur ut aliquet tortor. In sodales aliquam aliquam. Duis facilisis eros quam, nec egestas nibh faucibus eleifend. Curabitur vel metus ligula. Pellentesque a tincidunt mauris. Nulla facilisi.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
            <div class="col-4 my-4">
                <h2>危險</h2>
                <p>Aenean vitae massa nunc. Integer tincidunt accumsan maximus. Curabitur vitae gravida felis, in posuere lacus. Nunc luctus dapibus lorem sed blandit. Quisque quis congue neque, vitae porttitor nulla. Cras tincidunt interdum tempor. Fusce eu malesuada purus. Curabitur dolor tellus, sagittis ac rutrum eget, convallis vitae metus. Morbi scelerisque elementum tincidunt. Vivamus sed est magna. Proin vitae felis facilisis, ultricies libero sed, ultricies dolor. Aliquam malesuada vestibulum orci, et posuere velit. Aenean sit amet felis id felis tristique vestibulum et vel ipsum. Quisque quis malesuada arcu. Duis et tincidunt nibh, et faucibus massa.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
            <div class="col-4 my-4">
                <h2>隔離</h2>
                <p>Integer orci lectus, pretium eget sagittis eget, molestie a tellus. Sed eros mi, feugiat vel feugiat sit amet, dapibus sed arcu. Mauris est risus, dignissim eget eros ac, vestibulum blandit nunc. Curabitur malesuada augue id suscipit lobortis. Aenean purus sem, elementum at pellentesque in, maximus at lorem. Curabitur id tempus dolor. Praesent tristique urna interdum augue euismod blandit. Nunc nec mi enim. Cras venenatis euismod odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla posuere quam ut congue suscipit. Nulla suscipit convallis mauris, ut sollicitudin leo pulvinar mollis.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
            <div class="col-4 my-4">
                <h2>制限</h2>
                <p>Aenean et ligula sapien. Praesent venenatis vestibulum tincidunt. Maecenas vulputate urna dui, a finibus tortor euismod non. Integer in libero aliquet, posuere dui sit amet, efficitur arcu. Vestibulum eu mattis sem. Vivamus ultricies varius volutpat. Aenean ante neque, mollis non facilisis at, vulputate vitae ligula. Aenean ornare leo libero, id condimentum est ornare at. Nunc vestibulum id mi ac rhoncus. Morbi at ex tortor. Etiam commodo turpis non enim porttitor, ut interdum ante blandit. Phasellus vel sapien pellentesque, rutrum lacus a, facilisis arcu. In fermentum nisi vitae condimentum suscipit.

                </p>
                <div><button type="button" class="btn btn-light">
                    자세히 보기 &blacktriangleright;
                </button></div>
            </div>
        </div><!-- article -->
    </div>
    <footer>
        <h6 class="col text-end bg-dark bg-opacity-10 p-3">Copyright &copy; Lorem Ipsum 2023. jupiter. All rights Reserved.
        Created by bootstrap5</h6>

    </footer>
</div>

<!-- login modal -->
<div class="modal" id="loginfrm" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content row">
            <div class="modal-header">
                <h2>로그인</h2>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
            </div><!-- mdh -->
            <div class="modal-body">
                <form id="lgnfrm" name="lgnfrm">
                    <div class="row text-danger mb-3" >
                        <label class="col-4 col-form-label text-end" for="userid">아이디</label>
                        <div class="col-5">
                            <input type="text" id="userid" name="userid" class="form-control border-danger">
                        </div>
                    </div><!-- userid -->
                    <div class="row text-danger">
                        <label class="col-4 col-form-label text-end" for="passwd">비밀번호</label>
                        <div class="col-5">
                            <input type="password" id="passwd" name="passwd" class="form-control border-danger">
                        </div>
                    </div><!-- passwd -->
                    <div class="row text-warning my-3">
                        <label class="col-4">&nbsp;</label>
                        <div class="col-5">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input m-da">
                                <label class="form-check-label">로그인 상태 유지</label>
                            </div>
                        </div>
                    </div><!-- passwd -->

                </form>
            </div><!-- mdb -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" id="loginbtn">로그인</button>
                <button type="button" class="btn btn-warning">아이디/비밀번호 찾기</button>
            </div><!-- mdf -->
        </div> <!-- mdc -->
    </div><!-- mdd -->

</div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>